@font-face {
	font-family: Function Pro;
	font-weight: 500;
	src: url(font/FunctionPro-Medium.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 700;
	src: url(font/FunctionPro-Bold.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 200;
	src: url(font/FunctionPro-Light.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 200;
	font-style: oblique;
	src: url(font/FunctionPro-LightOblique.otf);
}

body {
	background-color: #000;
	color: #fff;
	font-family: function pro;
	font-weight: 500;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

nav a {
	text-decoration: none;
	color: #fff;
	margin-right: 20px;
}

.selected {
	padding-bottom: 1px;
	border-bottom: 2px solid #fff;
}

.logo img{
	margin-top: -10px;
	width: 45px;
	height: 25px;
}

h1 {
/*	padding-top: 120px;*/
	font-size: 18px;
}


section {
	position: relative;
	width: 500px;
	top: 120px;
	left: 130px;
}

section p {
	font-weight: 200;
	font-size: 14px;
}




footer{
  font-family: Functionpro Light;
/*  display: flex;
  flex-direction: row;*/
  display: block;
  width: 1000px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left:auto;
  margin-right:auto;
}

footer {
    font-size: 12px
}

.name1,.name2,.name3{
  margin-right: 36px
}