@font-face {
	font-family: Function Pro;
	font-weight: 500;
	src: url(font/FunctionPro-Medium.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 700;
	src: url(font/FunctionPro-Bold.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 200;
	src: url(font/FunctionPro-Light.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 200;
	font-style: oblique;
	src: url(font/FunctionPro-LightOblique.otf);
}

body {
	background-color: #000;
	color: #fff;
	font-family: function pro;
	font-weight: 500;
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

nav a {
	text-decoration: none;
	color: #fff;
	margin-right: 20px;
}

.selected {
	padding-bottom: 1px;
	border-bottom: 2px solid #fff;
}

.logo img{
	margin-top: -10px;
	width: 45px;
	height: 25px;
}


div.content a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}

div.one {
	margin-left: 40px;
	margin-bottom: 180px;
}

div.one img {
	width: 65%;
	margin-top: 50px;
	margin-bottom: 10px;
}

div.content span {
	font-weight: 200;
	font-style: oblique;
}


div.two {
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
	margin-bottom: 180px;
}

div.two-img img {
	/*width: 32%;*/
	width: 410px;
}

div.two-img .savannah {
	float:left;
}

div.two-img .martin {
	float: right;
}

h2 {
	position: absolute;
	font-size: 16px;
	top: 94%;
	right: 0.5%;
}


div.four {
	margin-bottom: 180px;
	position: relative;
	height: 574px;
}

div.four img {
	width: 975px;
    height: 533px;
/*	margin-top: 50px;*/
	margin-bottom: 180px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

div.four-text {
	position: absolute;
	left: 50%;
	transform: translateX(-69.5%);
	width: 700px;
	bottom: 4px;
}

div.content span {
	font-weight: 200;
	font-style: oblique;
}














