@font-face {
	font-family: Function Pro;
	font-weight: 500;
	src: url(font/FunctionPro-Medium.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 700;
	src: url(font/FunctionPro-Bold.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 200;
	src: url(font/FunctionPro-Light.otf);
}

@font-face {
	font-family: Function Pro;
	font-weight: 200;
	font-style: oblique;
	src: url(font/FunctionPro-LightOblique.otf);
}



body {
	background-color: #000;
	color: #fff;
	font-family: function pro;
	font-weight: 500;
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

nav a {
	text-decoration: none;
	color: #fff;
	margin-right: 20px;
}


.selected {
	padding-bottom: 1px;
	border-bottom: 2px solid #fff;
}

.logo img{
	margin-top: -10px;
	width: 45px;
	height: 25px;
}





.list {
  /*max-width: 700px;*/
 /* width: 900px;*/
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  font-size: 67px;
  line-height: 1.2;
/*  margin-top: 120px;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.list a {
	text-decoration: none;
	color: #ffffff;
}

.list a img{
  opacity: 0;
  position: fixed;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  /*max-width: 500px;*/
  pointer-events: none;
  
  transition: opacity 0.3s;
}

img#alt {
	width: 540px;
	left: -9%;
	top: -17%;
}

img#ana {
	width: 480px;
	left: 40%;
	top: -38%;
	/*transform: translate(-50%,-50%);*/
}

img#ic {
	height: 500px;
	left: 7%;
	top: -17%;
}

img#bar {
	width: 700px;
	left: 7%;
	top: -5%;
}

img#cat {
	width: 540px;
	left: 30%;
	top: -30%;
}

img#dro {
	width: 600px;
	left: 50%;
	top: -25%;
}

img#dig {
	width: 400px;
	left: 8%;
	top: -17%;
}

img#her {
	width: 560px;
	left: 25%;
	top: -17%;
}

img#kit {
	width: 560px;
	left: 35%;
	top: 17.5%;
}

img#out {
	width: 640px;
	left: 39%;
	top: -5%;
}

img#dis {
	width: 700px;
	left: 7%;
	top: 5%;
}

.list a:after {
  content: '-';
}

.list a:last-child:after {
  content: '';
}

.list a:hover img{
  opacity: 1;
}